.header{
    background-color: black;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 2% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dropdownDiv{
        width: 10%;
    }
    @media only screen and (max-width: 600px) {
        .dropdownDiv{
            width: 25%;
        }
      }

}